<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/dist/mesh.css">
    <link rel="stylesheet" href="/dist/ui-theme.css">
</head>
<body>
    <div class="container" itemscope itemtype="https://schema.org/Product">
        <header>
            <h1 itemprop="name">Ipad Mini Apple 16 GB Wifi Led 7.9</h1>
        </header>
        <main>
            <section>
                <div class="ch-box-lite mesh-col-xs-12 mesh-col-m-6" itemprop itemtype="https://schema.org/ImageObject">
                    <div class="ch-clearfix image">
                        <a id="zoom-default" class="zoom" href="static/ipad-mini.jpg" target="_blank">
                            <img src="static/ipad-mini.jpg"/>
                        </a>
                    </div>
                </div>
                <div class="mesh-col-xs-12 mesh-col-m-6">
                    <div class="mesh-row">
                        <div class="mesh-col-12">
                            <form class="ch-form">
                                <fieldset>
                                    <legend aria-hidden="true">Precio</legend>
                                    <article class="product-price ch-price" itemprop="price" content="4799.99">
                                        <span itemprop="priceCurrency" content="ARS">$</span> 4799<sup>99</sup>
                                    </article>
                                </fieldset>

                                <div class="ch-form-row ch-form-row-inline">
                                    <label aria-label="Quantity">Quantity:</label>
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>

                                <div class="ch-form-row ch-form-row-inline">
                                    <label aria-label="Payments">Payments:</label>
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>

                                <fieldset class="action">
                                    <input role="button" aria-pressed="false" tabindex="0" type="submit" title="Buy Ipad Mini Apple 16 Gb Wifi Led 7.9" value="Buy" class="ch-btn ch-btn-big" itemscope itemtype="http://schema.org/BuyAction">
                                    <p class="ownership-info">Mercadolibre isn't the owner of this product</p>
                                </fieldset>
                            </form>
                        </div>
                        <div class="mesh-col-12">
                            <section>
                                <h2>More Products like this</h2>
                                <div class="prod-list ch-carousel">
                                    <ul>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #1" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #1"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #2" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #2"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #3" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #3"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #4" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #4"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #5" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #5"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #6" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #6"></figure>
                                            </a>
                                        </li>
                                        <li itemscope itemtype ="http://schema.org/Offer">
                                            <a href="#" role="link" title="Related product #7" itemprop="url">
                                                <figure><img src="static/ninja.png" alt="Related product #7"></figure>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </section>
            <section class="mess-row">
                <div class="mesh-col-xs-12">
                    <div class="ch-tabs">
                        <ul class="ch-tabs-triggers">
                            <li><a href="#tab-desc" class="ch-tab">Tab1</a></li>
                            <li><a href="#tab-questions" class="ch-tab">Tab2</a></li>
                        </ul>
                        <div class="ch-box-lite">
                            <div id="tab-desc">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ipsum tellus, quis ultricies nunc. Vestibulum ornare porta nunc, vitae tincidunt massa ornare vel. Nam ut felis odio.</p><p>Nam porta nunc vitae orci sollicitudin a ullamcorper purus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed libero eget purus dictum fringilla non sed lectus. Etiam commodo quam in neque vehicula dapibus.</p><p>Phasellus ornare lacus ut purus elementum eget sodales dui placerat. Nunc ultrices porttitor mi, eu varius quam tristique in. Etiam tempor porta sodales.</p><p>Phasellus dui nisi, hendrerit a porta vel, tempus bibendum mauris.</p><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus bibendum consectetur dignissim.
                                </div>
                            </div>

                            <div id="tab-questions" class="ch-hide">
                                <p style="color: #3a87ad;">Buyer</p>
                                <div class="ch-box-info">
                                    <p>Do you have this one in white?</p>
                                </div>
                                <p style="color: #468847;">Seller</p>
                                <div class="ch-box-ok">
                                    <p>No I don't, I only have black</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="/dist/app.min.js"></script>
    <script>
        function qS(selector) { return document.querySelector(selector); };
        var carousel = new ch.Carousel(
                qS('.ch-carousel'),
                {
                    'pagination': false,
                    'arrows': true,
                    'limitPerPage': 4
                }
        );
        var tabs = new ch.Tabs(qS('.ch-tabs'));
    </script>
</body>
</html>